<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Volver</a>
    </nav>
    <hr>
	{% block content %}
    <h1>{% block title %} Categorias {% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        {% for categoria in categorias %}
            {% if loop.index % 2 == 0 %}
                {% set bg_color = '#e6f9ff' %}
            {% else %}
                {% set bg_color = '#eee' %}
            {% endif %}

            <div style="padding: 10px; background-color: {{ bg_color }}; margin: 20px">
                <!--<p>#{{ loop.index }}</p>-->
                <p># id: {{ categoria['id'] }}</p>
                <p style="font-size: 18px">{{ categoria['descripcion'] }}</p>
            </div>
        {% endfor %}
    </div>
	{% endblock %}  
</body>
</html>

